.resume-container{
    width: 100%;
    height: 100vh;

    margin: auto;
    display: flex;

    background: #fafafa;

    font-family: 'Roboto';
}
.text-h1{
    width: 40%;
}
.resume{
    width: 60%;

    display: flex;
    margin: auto;

    justify-content: center;
    text-align: center;
    align-items: center;
}
.resume-text{
    display: grid;
    margin: auto 5% auto auto;

    justify-content: center;
    text-align: left;
    align-items: flex-start;
}
.resume-text h1,
.resume-last-text h1{
    margin-bottom: 20px;
}

.resume-last-text p:nth-child(1),
.resume-text p:nth-child(0){
    margin-bottom: 20px;
}

.resume-last-text{
    display: grid;
    margin: auto auto auto 5%;

    justify-content: center;
    text-align: left;
    align-items: flex-start;
}