.resume-container{
    width: 100%;
    height: 110vh;
    
    display: flex;
    
    margin: auto;
    
    background: #fafafa;
    font-family: 'Roboto';
}

.resume{
    width: 60%;
    display: grid;

    margin: auto;

    justify-content: flex-start;
    text-align: left;
    align-items: flex-start;
}
.resume h1{
    display: flex;
    margin-bottom: 40px;

    font-size: 38px;
}

.resume-text-container{
    width: 100%;

    grid-template-columns: repeat(2, 50%);

    display: grid;
    margin: auto 5% auto auto;

    justify-content: center;
    text-align: left;
    align-items: flex-start;
}
.resume-text h1,
.resume-last-text h1{
    margin-bottom: 20px;
}

.resume-last-text p:nth-child(1),
.resume-text p:nth-child(0){
    margin-bottom: 20px;
}

.resume-last-text{
    display: grid;
    margin: auto auto auto 5%;

    justify-content: center;
    text-align: left;
    align-items: flex-start;
}