.cards-container{
	width: 100%;
}
.estilizacao{
	display: block;
	width: 880px;
	list-style: none;
}
.estilizacao li{
	display: block;

	width: 400px;
	height: 300px;

	margin: 15% 20px auto auto;
	cursor: pointer;

	float: left;
}

.estilizacao li img{
	width: 100%;
	height: 100%;

	display: block;
	z-index: 999;
	position: absolute;
	transition: .5s;
}
.estilizacao li:hover img{
	margin-top: -80px;
}
.conteudo{
	display: flex;

	width: 100%;
	height: 80px;

	background-color: #202633;
	overflow: hidden;
	color: #fff;

	margin-top: 220px;

	text-align: center;
}
.conteudo p{
	display: block;
	width: 100%;

	color: #fff;

	margin: auto;

	text-align: center;
	justify-content: center;
	align-items: center;

	font-family: 'Roboto', sans-serif;
}
.conteudo-conteudo{
	display: block;
	width: 100%;

	color: #fff;

	margin: auto;

	text-align: center;
	justify-content: center;
	align-items: center;

	font-family: 'Roboto', sans-serif;
}

.btn-more{
	display: block;

	text-decoration: none;
	color: #fff;

	position: relative;
	float: right;

	padding: 3px 10px;

	background: #AE2341;
	border-radius: 4px;

	margin: 10px;
}
.nome-secao{
	font-size: 18px;
}
.descricao {
	font-size: 14px;
}