:root{
  --primary: #F28482;
  --secundary: #3a73c5;
  --green: rgb(34, 161, 34);
  --inColor: #fafafa;
  --black: black;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width:10px;
  height: 10px;
  
}

::-webkit-scrollbar-track {
  width: 40px;
}

::-webkit-scrollbar-thumb {
  background: #F28482;
  border-radius: 20px;
}
